.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e9ecef;
}

h1 {
    font-size: 48px;
    margin-bottom: auto;
}

.break {
    flex-basis: 100%;
}


